interfaces {
    ethernet eth0 {
        address 192.168.0.3/24
        description C3750-Gi0/2-Broadband
        duplex auto
        hw-id a4:4c:c8:16:af:f6
        speed auto
    }
    ethernet eth2 {
        description VLAN-TRUNK
        duplex auto
        hw-id a4:4c:c8:bf:d2:c4
        mtu 1600
        speed auto
        vif 10 {
            address 10.0.10.1/24
            description SDDC-VDS-VLAN10-MANAGEMENT
            mtu 1600
        }
        vif 11 {
            address 10.0.11.1/24
            description SDDC-VDS-VLAN11-VMOTION
            mtu 1600
        }
        vif 12 {
            address 10.0.12.1/24
            description SDDC-VDS-VLAN12-VSAN
            mtu 1600
        }
        vif 13 {
            address 10.0.13.1/24
            description SDDC-VDS-VLAN13-HOST-OVERLAY
            mtu 1600
        }
        vif 14 {
            address 10.0.14.1/24
            description SDDC-VDS-VLAN14-EDGE-OVERLAY
            mtu 1600
        }
        vif 15 {
            address 10.0.15.1/24
            description SDDC-VDS-VLAN15-EDGE-UPLINK
            mtu 1600
        }
    }
    loopback lo {
    }
    wireless wlan0 {
        hw-id 88:b1:11:e9:8c:9d
        physical-device phy0
    }
}
nat {
    source {
        rule 100 {
            outbound-interface eth0
            source {
                address 10.0.0.0/16
            }
            translation {
                address masquerade
            }
        }
    }
}
protocols {
    bfd {
        peer 10.0.15.3 {
            interval {
                multiplier 3
                receive 500
                transmit 500
            }
        }
        peer 10.0.15.4 {
            interval {
                multiplier 3
                receive 500
                transmit 500
            }
        }
    }
    bgp {
        address-family {
            ipv4-unicast {
                network 10.0.0.0/16 {
                }
                network 172.17.0.0/16 {
                }
                network 192.168.0.0/24 {
                }
            }
        }
        local-as 65011
        neighbor 10.0.15.3 {
            ebgp-multihop 2
            remote-as 65010
            update-source 10.0.15.1
        }
        neighbor 10.0.15.4 {
            ebgp-multihop 2
            remote-as 65010
            update-source 10.0.15.1
        }
        parameters {
            router-id 10.0.15.1
        }
    }
    static {
        route 0.0.0.0/0 {
            next-hop 192.168.0.1 {
                distance 1
            }
        }
    }
}
service {
    dns {
        forwarding {
            allow-from 10.0.0.0/16
            listen-address 192.168.0.1
            listen-address 10.0.10.1
            listen-address 10.0.11.1
            listen-address 10.0.12.1
            listen-address 10.0.13.1
            listen-address 10.0.14.1
            listen-address 10.0.15.1
            listen-address 10.0.16.1
            listen-address 10.0.17.1
            listen-address 10.0.18.1
            listen-address 10.0.19.1
            listen-address 10.0.20.1
        }
    }
    ssh {
    }
}
system {
    config-management {
        commit-revisions 100
    }
    console {
        device ttyS0 {
            speed 115200
        }
    }
    host-name vRouter
    login {
        user vyos {
            authentication {
                encrypted-password ****************
                plaintext-password ****************
            }
        }
    }
    name-server 192.168.0.1
    name-server 194.168.4.100
    name-server 194.168.8.100
    ntp {
        server 0.pool.ntp.org {
        }
        server 1.pool.ntp.org {
        }
        server 1.uk.pool.ntp.org {
        }
        server 2.pool.ntp.org {
        }
    }
    syslog {
        global {
            facility all {
                level info
            }
            facility protocols {
                level debug
            }
        }
    }
}